
.update-item-form{
  top: 25vh;
  right: 80vw;
  width: 400px;
  height: auto;
  margin-bottom: 5px!important;
  border: 2px solid #c4c0c0;
  border-radius: 8px;
  position: absolute;
  left: 30%;
  z-index: 1;
}
.row{
  padding: 10px;
}
.col-12{
  width: 100%;
}
button{
  width: 100%;
}
button:disabled{
  background-color: #4343c7;
}
.form-field{
  width: 100%;
}
.mat-form-field {
  margin: 10px 0;
  width: 100% !important;
}
.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
}
/*.mat-toolbar-single-row button {*/
/*  width: 200px;*/
/*}*/
.mat-form-field {
  width: 100%;
}
#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

