<div class="outer" xmlns="http://www.w3.org/1999/html">
  <div class="inner">
    <!--    <button>Add item</button>-->
    <h1 style="
    text-align: center;
    font-family: Roboto,serif;
    background-color: #4343c7;
    color: white; height: 8vh;
    padding:10px;
    font-size: 2.5em">
      Calcalux Admin Panel
    </h1>
    <!--    <div class="main-categories container">-->
    <!--        <div class="row">-->
    <!--            <div class="col-sm-1" style="width: 100%;height:50px">-->
    <!--              <button mat-raised-button color="primary" [routerLink]='["/add-item"]' routerLinkActive="active-side-nav" style="width: 100%">Add item</button>-->
    <!--            </div>-->
    <!--            <div class="col-1" style="width: 100%;height:50px">-->
    <!--              <button mat-raised-button color="primary" [routerLink]='["/update-item"]' routerLinkActive="active-side-nav" style="width: 100%">Update item</button>-->
    <!--            </div>-->
    <!--            <div class="col-1" style="width: 100%;height:50px">-->
    <!--              <button mat-raised-button color="primary" [routerLink]='["/remove-item"]' routerLinkActive="active-side-nav" style="width: 100%">Delete item</button>-->
    <!--            </div>-->
    <!--            <div class="col-1" style="width: 100%;height:50px">-->
    <!--              <button mat-raised-button color="primary" [routerLink]='["/add-main-category"]' routerLinkActive="active-side-nav" style="width: 100%">Add category</button>-->
    <!--            </div>-->
    <!--            <div class="col-1" style="width: 100%;height:50px">-->
    <!--              <button mat-raised-button color="primary" [routerLink]='["/update-main-category"]' routerLinkActive="active-side-nav" style="width: 100%">Update category</button>-->
    <!--            </div>-->
    <!--            <div class="col-1" style="width: 100%;height:50px">-->
    <!--              <button mat-raised-button color="primary" [routerLink]='["/remove-main-category"]' routerLinkActive="active-side-nav" style="width: 100%">Delete category</button>-->
    <!--            </div>-->
    <!--            <div class="col-1" style="width: 100%;height:50px">-->
    <!--              <button mat-raised-button color="primary" [routerLink]='["/add-sub-category"]' routerLinkActive="active-side-nav" style="width: 100%">Add sub category</button>-->
    <!--            </div>-->
    <!--            <div class="col-1" style="width: 100%;height:50px">-->
    <!--              <button mat-raised-button color="primary" [routerLink]='["/update-sub-category"]' routerLinkActive="active-side-nav" style="width: 100%">Update sub category</button>-->
    <!--            </div>-->
    <!--            <div class="col-1" style="width: 100%;height:50px">-->
    <!--              <button mat-raised-button color="primary" [routerLink]='["/remove-sub-category"]' routerLinkActive="active-side-nav" style="width: 100%">Delete sub category</button>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <!--        <mat-toolbar color="primary">-->
    <!--          <button  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
    <!--            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>-->
    <!--          </button>-->
    <!--        </mat-toolbar>-->

    <!-- Creates a layout with a left-positioned sidenav and explicit content. -->
    <mat-sidenav-container>
      <mat-sidenav #sidenav [opened]="true" mode="side">
        <mat-nav-list>
          <div>
            <a mat-list-item routerLink='/dashboard'  [routerLinkActive]="['active-side-nav']"><span [style.color]="color"><mat-icon>dashboard</mat-icon>Dashboard</span></a>
          </div>
           <div>
            <a mat-list-item routerLink='/manage-items' [routerLinkActive]="['active-side-nav']"><span [style.color]="color"><mat-icon>category</mat-icon>Manage items</span></a>
           </div>
          <div>
            <a mat-list-item href=""><span [style.color]="color"><mat-icon>insights</mat-icon>Charts</span></a>
          </div>
          <div>
            <a mat-list-item  local_offer href=""><span [style.color]="color"><mat-icon>local_offer</mat-icon>Promotions</span></a>
          </div>
          <div>
            <a mat-list-item href=""><span [style.color]="color"><mat-icon>settings</mat-icon>Settings</span></a>
          </div>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content >
        <div id="side-nav-content" style="height: 100vh;width:35vw">
          <router-outlet></router-outlet>
          <!--            <app-add-item ></app-add-item>-->
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>

  </div>
</div>

<router-outlet></router-outlet>


